[package]
name = "lp-engine-client"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[features]
default = ["std"]
std = []

[dependencies]
lp-model = { path = "../lp-model", default-features = false }
hashbrown = { workspace = true }

[lints]
workspace = true
