*.bk
*.pyc
*.swo
*.swp
*.swx
*~
.*.rustfmt
.mypy_cache
\#*\#
.vscode/*
!.vscode/settings.json
!.vscode/keybindings.json
.vs/
rusty-tags.*
tags
target
.z3-trace
foo
.cargo
publish
vendor
*.coredump
*.smt2
*.cwasm
/artifacts
.ci-artifacts
testcase*.wat
testcase*.wasm
testcase*.dna
testcase*.json
perf.data*
.cursor
.DS_Store
