[package]
name = "lp-model"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[features]
default = ["std"]
std = []

[dependencies]
hashbrown = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde-json-core = { version = "0.6", default-features = false }
base64 = { workspace = true }

[dev-dependencies]
tempfile = "3"

[lints]
workspace = true
